*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.glide/
vendor/
tmp/
hackernews-cli
*.o
*.a
_obj
_test
*.[568vq]
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go
*.prof
*.rar
*.zip
*.gz
*.psd
*.bmd
*.cfg
*.pptx
*.log
*.sublime-project
*.sublime-workspace
.DS_Store
.idea
.vscode
coverage.txt